<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Quizprojekt.Properties.Settings.BrainiestDB_2013_01_24_robadamtobbConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\BrainiestDB-2013-01-24_robadamtobb.accdb;Persist Security Info=True"
            providerName="System.Data.OleDb" />
        <add name="Quizprojekt.Properties.Settings.BrainiestDBConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\BrainiestDB.accdb;Persist Security Info=True"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>